name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    continue-on-error: true
    strategy:
      matrix:
        ruby:
          - "3.1"
          - "3.4"

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Set up Redis
        uses: supercharge/redis-github-action@1.8.1
        with:
          redis-version: 4

      - name: Tests
        run: bin/test
